<div>
    <!--admin details-->
    <div class="profile">
        <img class="center"height=150px width=100% src="https://e7.pngegg.com/pngimages/166/90/png-clipart-computer-icons-user-setting-icon-miscellaneous-monochrome.png" alt="admin img">
        <h3 class="h3">Admin</h3>
        <h4 class="h4" >admin@luminartechnolab</h4>
        <mat-divider></mat-divider>
        <h2>pages</h2>
        <div class="pages">
        <a routerLink="">Dashboard</a>
        <a routerLink="employee">Employee</a>
        <a routerLink="gallery">Gallery</a></div>
        <mat-divider></mat-divider>
        <h2>Tools</h2>
        <div class="pages">
        <a routerLink="contacts"><mat-icon>contact_phone</mat-icon>contacts</a>
        <a routerLink="leads"><mat-icon>leaderboard</mat-icon>Leads</a>
        
    </div>
</div>